.content-wrapper {
    padding: 4%;
    padding-top: 2%;
    /* background-color: lightgray; */
}
#cw {
    margin-left: 0px 
};


nav {
    min-height: 70px;
}

body {
    /* background-color: rgb(110, 109, 109); */
}