---
  //@ts-ignore
import json from "../books.json"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Persoal siet">
  
</Layout>  <main>
  <h2>Reach out to the team…</h2>
  <ul>
    {
        //@ts-ignore
      json.map(({ Text , Title, Authors }) => (
        <li>
          <p class="name">{Title}</p>
          <p>
            <a href={`https://www.gutenberg.org/ebooks/${Text}`}>{Authors}</a>
          </p>
        </li>
      ))
    }
  </ul>
</main>

