---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import 'bootstrap/dist/css/bootstrap.css'

---

<Layout title="Welcome to Astro.">
  <main>
    <p>Hola, Soy Jose Hernadez!</p>
    <p>Programador</p>
    <p>Blogger</p>
    <p>Podcaster</p>
  </main>
</Layout>

<style></style>
