---
import Layout from "../layouts/Layout.astro";
import 'bootstrap/dist/css/bootstrap.css'

---
<Layout title="Welcome to Astro.">
  <main>
    <p>Hola, Soy Jose Hernadez!222222222</p>
    <p>Programador</p>
    <!-- <p>Blogger</p>
    <p>Podcaster</p> -->
  </main>
</Layout>
<style></style>