---
import "bootstrap/dist/css/bootstrap.css";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Personal Site">
  <main>
    <div class="row">
      <div class="col">
        <Card title="Sala de Trabajo" body="body" href="href" />
      </div>
      <div class="col">
        <Card title="GutBooks" body="body" href="href" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <Card title="Gimme Money" body="body" href="href" />
      </div>
      <div class="col">
        <Card title="GameHouse" body="body" href="href" />
      </div>
    </div>
  </main>
</Layout>
<style></style>
