---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
---

<main>
    <Navbar/>
    <p>TurismoTem</p>
    <p>GutBooks</p>
    <p>Ejercicios App</p>
    <p>GiveMeMoney</p>
    <Footer/>
</main>
<style>

</style>