---
---
<script>
    import ePub from "epubjs";
    import jszip from "jszip";
    var book = ePub("src/pages/6stories.epub");
    var rendition = book.renderTo("area", {
      // manager: "continuous",
      // flow: "scrolled-doc",
      spread: "always",
      width: "100%",
      height: 600,
    });
    rendition.display();
    book.ready.then(() => {
      var next = document.getElementById("next");
      var prev = document.getElementById("prev");
  
      //@ts-ignore
      next.addEventListener(
        "click",
        function (e) {
          //@ts-ignore
          book.package.metadata.direction === "rtl"
            ? rendition.prev()
            : rendition.next();
          e.preventDefault();
        },
        false
      );
  
      var prev = document.getElementById("prev");
      //@ts-ignore
      prev.addEventListener(
        "click",
        function (e) {
          //@ts-ignore
          book.package.metadata.direction === "rtl"
            ? rendition.next()
            : rendition.prev();
          e.preventDefault();
        },
        false
      );
      // @ts-ignore
  
      var keyListener = function (e) {
        // Left Key
        if ((e.keyCode || e.which) == 37) {
          //@ts-ignore
  
          book.package.metadata.direction === "rtl"
            ? rendition.next()
            : rendition.prev();
        }
  
        // Right Key
        if ((e.keyCode || e.which) == 39) {
          //@ts-ignore
          book.package.metadata.direction === "rtl"
            ? rendition.prev()
            : rendition.next();
        }
      };
  
      rendition.on("keyup", keyListener);
      document.addEventListener("keyup", keyListener, false);
    });
  </script>
  
  <div id="area"></div>
  <div id="next">SIGUIENTE</div>
  <div id="prev">ANTERIOR</div>
  