---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import 'bootstrap/dist/css/bootstrap.css'

---

<main>
    <Navbar/>
    <p>Hola Mundo</p>
    <Footer/>
</main>
<style>

</style>