---
import Navbar from "../components/CustomNavbar.astro";
import Footer from "../components/Footer.astro";
import "bootstrap/dist/css/bootstrap.css";
import Layout from "../layouts/Layout.astro";
---

<main>
  <Layout title="Personal Site">
    <p>Hola Mundo</p>
  </Layout>
</main>
<style></style>
