<div class="row" style="text-align: center" >
    <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" />
</div>
<div class="row">
  <p>Mi nombre es Jose Hernandez, soy un desarrollador, entre otras cosas</p>
</div>
<div class="row"><br></div>
<div class="row">
    <button class="btn btn-primary btnLinks">Proyectos</button>
</div>
<div class="row"><br></div>
<div class="row">
    <button class="btn btn-primary btnLinks">Github</button>
</div>

<div class="row"><br></div>
<div class="row">
    <button class="btn btn-primary btnLinks">Twitter</button>
</div>

<div class="row"><br></div>
<div class="row">
    <button class="btn btn-primary btnLinks">Blog</button>
</div>
</>
<style>
  img {
    display: block;
    margin: auto;
    max-width: 20%;  
    height: auto;
    border-radius: 50%;
  }

  .btnLinks{
    width: 100%;
  }
</style>
