<div class="row" style="width: 20%; content: center" >
    <img width="10px" src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" />
</div>
<div class="row"><br></div>

<div class="row">
    <button style="width: max-content;" class="btn btn-primary">Link de prueba</button>
</div>
<div class="row"><br></div>
<div class="row">
    <button style="width: max-content;" class="btn btn-primary">Link de prueba</button>
</div>
</>
<style>
  img {
    size: 50px;
    border-radius: 50%;
  }
</style>
