---
export const prerender = true;

import json from "../books.json";
// @ts-ignore
export async function getStaticPaths() {
  return json.map((book) => {
    return {
      params: { BookId: book.Text },
      props: { book },
    };
  });
}

const {BookId} = Astro.props

---
<script>
  //@ts-ignore
  import ePub from "epubjs";
  //@ts-ignore
  import jszip from "jszip";
  //@ts-ignore
  const currentUrl = window.location.href;
  console.log(currentUrl); 
  const myArray = currentUrl.split("/");
  const [lastItem] = myArray.slice(-1)
  console.log(lastItem)
  var book = ePub(`/${lastItem}.epub`);
  var rendition = book.renderTo("area", {
    // manager: "continuous",
    // flow: "scrolled-doc",
    spread: "always",
    width: "100%",
    height: 600,
  });
  rendition.display();
  book.ready.then(() => {
    var next = document.getElementById("next");
    var prev = document.getElementById("prev");

    //@ts-ignore
    next.addEventListener(
      "click",
      function (e) {
        //@ts-ignore
        book.package.metadata.direction === "rtl"
          ? rendition.prev()
          : rendition.next();
        e.preventDefault();
      },
      false
    );

    var prev = document.getElementById("prev");
    //@ts-ignore
    prev.addEventListener(
      "click",
      function (e) {
        //@ts-ignore
        book.package.metadata.direction === "rtl"
          ? rendition.next()
          : rendition.prev();
        e.preventDefault();
      },
      false
    );
    // @ts-ignore

    var keyListener = function (e) {
      // Left Key
      if ((e.keyCode || e.which) == 37) {
        //@ts-ignore

        book.package.metadata.direction === "rtl"
          ? rendition.next()
          : rendition.prev();
      }

      // Right Key
      if ((e.keyCode || e.which) == 39) {
        //@ts-ignore
        book.package.metadata.direction === "rtl"
          ? rendition.prev()
          : rendition.next();
      }
    };

    rendition.on("keyup", keyListener);
    document.addEventListener("keyup", keyListener, false);
  });
</script>
<div id="area">
    {json[BookId-1].Text}
    {json[BookId-1].Title}
    {json[BookId-1].Language}
  </div>